
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #020202;
  line-height: 1.6;
}

a {
  text-decoration: none;
 
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}


.sobre {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}


.sobre ul {
  list-style: none;
  margin-top: 20px;
  font-size: 1.1rem;
}


.projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  box-sizing: border-box;
}

.projeto-container {
  max-width: 800px;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.projeto-container h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #a50f0f;
  margin-bottom: 10px;
}
.btn-pdf {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pdf:hover {
  background-color: #2c2929;
}


.pitch h3 {
  margin-top: 18px;
  color: #333;
  font-size: 1.1rem;
}

.pitch p {
  color: #555;
  line-height: 1.6;
  font-size: 0.95rem;
}

.midia {
  margin-top: 35px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.relatorio {
  margin-top: 35px;
  text-align: center;
}

.btn-relatorio {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a50f0f;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 0.95rem;
}

.btn-relatorio:hover {
  background-color: #a50f0f;
}


.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 60px;
  background-color: #f9f9f9; 
}

.contato-container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
}



.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
  min-height: 90vh;
  box-sizing: border-box;
}

.contato-container {
  max-width: 700px;
  width: 90%;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: block;
  align-items: center;
  gap: 20px;
}

.contato-container h2 {
  font-size: 1.8rem;
  color: #a50f0f;
}

.contato-container p {
  color: #555;
  font-size: 1rem;
  margin: 0;
}

.redes {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 26px;
  width: 100%;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 4px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.redes a:hover {
  background-color: #a50f0f;
  transform: scale(1.04);
}

.redes a svg {
  margin-right: 10px;
  font-size: 1.5rem;
}

