.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a50f0f;
  color: rgb(12, 12, 12);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  font-size: 24px;
  
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #b9b3b3;
}
